<%= form_for(@link, remote: true) do |f| %>
  <%= f.hidden_field :folder_id %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t('global.close') %></span></button>
    <h4 class="modal-title"><%= t('.quick_add') %></h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :url, class: 'control-label' %>
      <%= f.url_field :url, class: 'form-control', autofocus: true %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('global.close') %></button>
    <%= f.submit t('global.save'), class: "btn btn-primary" %>
  </div>
<% end %>
