<!DOCTYPE html>
<html>
<head>
<%= render "layouts/application_head" %>
</head>
<body class="<%= params[:controller].parameterize %> <%= params[:action].parameterize %>" role="document">
  <div class="container narrow">
    <div class="page-header">
      <div class="clearfix">
        <%= content_tag :h1, class: 'page-header-logo' do %>
          <%= link_to(image_tag('pagelens_logo_388x100_white.png', alt: t("global.pagelens")), root_path) %>
        <% end %>
        <ul class="nav nav-pills pull-right">
          <li>
            <%= link_to t("global.tools"), tools_path %>
          </li>
          <li>
            <%= link_to t("global.feedback"), new_feedback_path %>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to links_url do %>
                    <span class="glyphicon glyphicon-globe"></span>
                    <%= t('global.links') %>
                  <% end %>
                </li>
                <li class="divider"></li>
                <% unless current_user.accounts.map(&:provider).include? "facebook" %>
                  <li>
                    <%= link_to omniauth_authorize_path(current_user, :facebook, origin: request.original_url) do %>
                      <span class="glyphicon glyphicon-transfer"></span>
                      <%= t('global.connect_to_facebook') %>
                    <% end %>
                  </li>
                <% end %>
                <li>
                  <%= link_to settings_url do %>
                    <span class="glyphicon glyphicon-cog"></span>
                    <%= t('global.settings') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_url do %>
                    <span class="glyphicon glyphicon-log-out"></span>
                    <%= t('global.logout') %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to t('global.sign_in'), new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render 'layouts/application_alert' %>
    <%= yield %>
  </div>
<%= render 'layouts/modal' %>
</body>
</html>
